svg {
  border: 3px solid red;
}

/* .top-balls:hover {
  animation: ball-grow ease-out 500ms;
}
@keyframes ball-grow {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(1.5);
  }
  100% {
    transform: scaleX(1);
  }
} */

#random-ball {
  animation-name: fire;
  animation-duration: 2s;
}

@keyframes fire {
}
