svg {
  border: 3px solid red;
}

/* .top-balls:hover {
  animation: ball-grow ease-out 500ms;
}
@keyframes ball-grow {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(1.5);
  }
  100% {
    transform: scaleX(1);
  }
} */

#random-ball {
  position: absolute;
  fill: red;
}

#myAnimation {
  width: 50px;
  height: 50px;
  position: absolute;
  background-color: red;
}
